<p-confirmDialog></p-confirmDialog>
<div class="card">
  <p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        Products
        <p-button icon="pi pi-plus" (onClick)="addProduct()" />
        <p-button
          icon="pi pi-trash"
          *ngIf="isAdmin"
          (onClick)="toggleDeleteMode()"
        />
        <p-button
          label="Confirm delete"
          *ngIf="deleteMode"
          (onClick)="deleteSelectedProducts()"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="deleteMode">
          <input type="checkbox" (change)="selectAll()" />
          Select all
        </th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr
        class="hover:bg-gray-300 cursor-pointer"
        (click)="!deleteMode ? getProductInfo(product) : true"
      >
        <td *ngIf="deleteMode">
          <input
            type="checkbox"
            *ngIf="deleteMode"
            [checked]="isProductSelected(product.id)"
            [(ngModel)]="product.selectedForDeletion"
            (click)="toggleProductIdSelection(product.id)"
          />
        </td>
        <td>{{ product.name }}</td>
        <td>{{ product.price | currency : "USD" }}</td>
        <td>{{ product.description }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
