<!-- <form (ngSubmit)="submitForm()" #productForm="ngForm">
  <div>
    <label for="productName">Product Name:</label>
    <input
      type="text"
      id="productName"
      name="productName"
      [(ngModel)]="productName"
      required
      maxlength="32"
    />
  </div>
  <div>
    <label for="price">Price:</label>
    <input
      type="number"
      id="price"
      name="price"
      [(ngModel)]="price"
      required
      min="0"
    />
  </div>
  <div>
    <label for="description">Description:</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="description"
      required
      maxlength="160"
    ></textarea>
  </div>
  <button class="bg-green-700" type="submit" [disabled]="productForm.invalid">
    Add Product
  </button>
</form>
<button class="bg-red-500" (click)="logout()">logout</button>
 -->
<app-header></app-header>
<app-products></app-products>
<!-- <div>
  <div class="flex justify-center space-y-4">
    <p-menubar [model]="items">
      <ng-template pTemplate="start">
        <svg
          width="33"
          height="35"
          viewBox="0 0 33 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="..." fill="var(--primary-color)" />
          <mask
            id="mask0_1_36"
            style="mask-type: luminance"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="31"
            height="33"
          >
            <path d="..." fill="var(--primary-color-text)" />
          </mask>
          <g mask="url(#mask0_1_36)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="..." />
          </g>
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="..."
            fill="var(--primary-color-text)"
          />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="..."
            fill="var(--primary-color-text)"
          />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
          <path d="..." fill="var(--primary-color-text)" />
        </svg>
      </ng-template>
      <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
          <p-badge
            *ngIf="item.badge"
            [ngClass]="{ 'ml-auto': !root, 'ml-2': root }"
          />
          <span
            *ngIf="item.shortcut"
            class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
            >{{ item.shortcut }}</span
          >
          <i
            *ngIf="item.items"
            [ngClass]="[
              'pi',
              root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
            ]"
          ></i>
        </a>
      </ng-template>
    </p-menubar>
  </div>
  <app-products class="flex justify-center"></app-products>
</div> -->
